#  Gerador de lista mintermos

In [1]:
import pandas as pd

lst_mintermos = [1, 5, 8, 15]

print('Digite os números que deseja para o mintermo.\nCaso queira sair, digite "exit"')
escolha = 0
# escolha = input('Sua lista está no código fonte? (s/n): ')
if escolha == 'n':
    while True:
        try:
            x = int(input('Digite um número: '))
            lst_mintermos.append(x)
        except:
            break
lst_mintermos.sort()

Digite os números que deseja para o mintermo.
Caso queira sair, digite "exit"

# Gerador de tabela base

In [2]:
# Saber quantos dígitos no máximo
num_max = bin(lst_mintermos[-1])
num_max = num_max.replace('0b', '')
num_algs = len(num_max)

# Lista com os xn e n de índices
lst_xn = []

for termos in range(num_algs -1, -1, -1):

    xn = f'X{termos}'
    lst_xn.append(xn)

# Salvar Xns
lst_temp_xn = lst_xn[:]

# Cabeçalho pronto
lst_temp_xn.insert(0,'N índices')

# Transformar em dicionário e em DataFrame
d = {}
for termos in lst_temp_xn:
    d.setdefault(termos, [])
df_base = pd.DataFrame(d)

# Carregar números no dataframe

In [3]:
# Loop para transformar números decimais em binários e colocar no dataframe
for index, termos in enumerate(lst_mintermos):
    num_temp_bin = bin(termos).replace('0b', '')
    num_temp_bin = '0'*(len(lst_xn) - len(num_temp_bin)) + num_temp_bin
    
    for digito, xn in zip(num_temp_bin, lst_xn):
        df_base.loc[index, xn] = int(digito)
        
        df_base.loc[index, 'Decimal'] = int(termos)
    df_base.loc[:,lst_xn] = df_base.loc[:,lst_xn].fillna(0)
display(df_base)

   N índices   X3   X2   X1   X0  Decimal
0        NaN  0.0  0.0  0.0  1.0      1.0
1        NaN  0.0  1.0  0.0  1.0      5.0
2        NaN  1.0  0.0  0.0  0.0      8.0
3        NaN  1.0  1.0  1.0  1.0     15.0

# Número de índices